.container {
  display: inline-grid;
  align-items: end;
  text-align: center;
  transition: .15s;
  background: #1c1c1c;
  min-height: 200px;
  border-bottom: 2px solid transparent;
}

.container:hover {
  cursor: pointer;
  transition: .15s;
}

.container:after {
  content: '';
  background: #fff;
  height: 2px;
  width: 0;
  transition: .15s;
}

.container:hover:after {
  width: 100%;
}

.title {
  color: #aaa;
  font-weight: 600;
  transition: .15s;
}

.container:hover .title {
  color: #fff;
  transition: .15s;
}