.navWrapper {
  margin: 0 auto;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}

.navWrapper ul {
  list-style: none;
  margin: 0;
  width: 100%;
  padding: 0;
  display: inline-grid;
  margin: 20px 0;
  grid-column-gap: 5px;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

.navWrapper ul li {
  background: #fff;
  display: inline;
  padding: 10px;
}

.navWrapper a {
  text-decoration: none;
}

.navWrapper ul li a {
  color: #555;
  margin: 20px;
  font-weight: 400;
  transition: .15s;
  text-decoration: none;
}

.navWrapper ul li:hover {
  cursor: pointer;
}

.navWrapper ul li:hover a {
  color: #000;
  transition: .15s;
}

.brandLogo {
  margin: 20px;
  max-width: 150px;
}

.navMenuIcon {
  display: none;
  margin-right: 50px;
}

@media screen and (max-width: 767px) {
  .app-nav ul li {
    display: block;
    padding-bottom: 20px;
  }

  .navMenu {
    display: block;
    display: none;
  }

  .navMenuIcon {
    display: block;
    margin: 20px;
    font-size: 25px;
  }

  .brandLogo {
    max-height: 35px !important;
  }

  .app-nav i {
    color: #fff;
  }
}