@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Fira Sans, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background: #111;
}

* {
  box-sizing: border-box;
}

a {
  color: #2962FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

code {
  background: #222;
  color: #ffcc99;
  border-radius: 3px;
  padding: 1.5px 5px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}

pre, pre code {
  background: #222 !important;
  padding: 0;
}